# Entornos virtuales
env/
venv/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/

# Dependencias
node_modules/

# Archivos de configuración local
.env
.env.local

# Archivos del sistema
.DS_Store
Thumbs.db
