# Entornos virtuales
env/
venv/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/

# Dependencias
node_modules/

# Archivos de configuración local
.env
.env.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Edita el archivo .gitignore y asegúrate de que contenga estas líneas:
echo "# Python bytecode" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "*.py[cod]" >> .gitignore
echo "*$py.class" >> .gitignore
modulos/recetas/__pycache__/forms.cpython-312.pyc
modulos/recetas/__pycache__/routes.cpython-312.pyc
*.pyc
modulos/recetas/__pycache__/controllers.cpython-312.pyc
modulos/recetas/__pycache__/controllers.cpython-312.pyc
