<select 
    id="{{ field.id }}" 
    name="{{ field.name }}" 
    {% if field.required %}required{% endif %}
    class="border border-cookie-200 rounded-lg p-2.5 w-full focus:ring-cookie-500 focus:border-cookie-500"
    {% for attr_name, attr_value in field.attrs.items() %}
        {{ attr_name }}="{{ attr_value }}"
    {% endfor %}
>
    <option value="">Seleccionar...</option>
    {% for option in field.options %}
        <option value="{{ option.value }}" {% if option.value == field.value %}selected{% endif %}>
            {{ option.label }}
        </option>
    {% endfor %}
</select>